[Desktop Entry]
Encoding=UTF-8
Name=Link to PG-DAC - Google Drive
Type=Link
URL=https://drive.google.com/drive/folders/1L1ZN-taZN1j1yQFaBpMrdzIJoIlbcGwb
Icon=text-html
