[Desktop Entry]
Encoding=UTF-8
Name=Link to Notes - Google Drive
Type=Link
URL=https://drive.google.com/drive/folders/1w3DGAHG8qGMrcp7PnAG_XJ2VZGfL2ggQ
Icon=text-html
